@font-face {
    font-family: Product Sans;
    src: url(Fonts/Product\ Sans\ Regular.ttf);
}
@font-face {
    font-family: Product Sans B;
    src: url(Fonts/Product\ Sans\ Bold.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family:Product Sans ;
}

body{
    width: 100%;
    height: 100%;
}

#main{
    width: 100%;
    height: 100vh;
    color: #fff;
}

section{
    width: 100%;
    height: 100%;
}

.section-1{
    width: 100%;
    height: 100%;
    background: linear-gradient(120deg, #FFA500, #FF6200);
}

.nav-bar{
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20rem;
    padding: 0 20vw;
    position: fixed;
    z-index: 99;
}

.logo h3{
    font-size: 1rem;
}

.main-nav{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-nav h3{
    text-transform: capitalize;
    font-size: 1rem;
}

.content{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content h1{
    font-size: 25vw;
    font-family: Product Sans B;
}

.fanta{
    position: absolute;
    z-index: 2;
    height: 55%;
    transition: all cubic-bezier(0.19, 1, 0.123, 1)0.5s;
}
.orange{
    position: absolute;
    z-index: 1;
    top: 10%;
    left: 33%;
    height: 28%;
    transition: all cubic-bezier(0.19, 1, 0.123, 1)0.5s;
}

.orange2{
    position: absolute;
    z-index: 3;
    bottom: 10%;
    right: 30%;
    height: 35%;
    transition: all cubic-bezier(0.19, 1, 0.123, 1)0.5s;
}

.coco-leaf{
    position: absolute;
    z-index: 3;
    top: 10%;
    right: 0;
    height: 27%;

}

.leaf2{
    position: absolute;
    z-index: 3;
    bottom: 5%;
    right: 10%;
    height: 23%;
    transform: rotate(-90deg);
    transition: all cubic-bezier(0.19, 1, 0.123, 1)0.5s;
}

.leaf1{
    position: absolute;
    z-index: 3;
    top: 10%;
    left: 0%;
    height: 30%;
    transform: rotate(60deg);
    
}

.section-2{
    width: 100%;
    height: 100%;
    background-color: #4D231C;
}

.section-2-content{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.left{
    width: 40%;
    height: 90%;
    display: flex;
    align-items: flex-end;  
    justify-content: center;  
}

.left svg{
    transform: rotateX(40deg);
    /* transform: rotateY(170deg); */
    width: 80%;
}

.right{
    width: 60%;
    padding: 2vw 8vw;
}

.right h1{
    font-size: 5rem;
    margin-bottom: 4vw;
}

.right p{
    font-size: 1rem;
    margin-bottom: 4vw;
}

.section-3{
    background: linear-gradient(120deg, #FFA500, #FF6200);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
}



.container{
    margin-top: 10vw;
    width: 25vw;
    height: 40vw;
    border-radius: 2vw;
    background-color: #fff;
}


.cont-content{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-self: center;
    flex-direction: column;
}

.cont-content h1{
    margin-top: 45vh;
    font-size: 2.5rem;
    color: #000;
}

.SaborUVA{
    position: absolute;
    height: 55%;
    top: 13%;
    left: 4%;
}

.apple{
    position: absolute;
    height: 55%;
    top: 13%;
    right: 3%;
}

button{
    margin-top: 2vw;
    width: 10vw;
    height: 3vw;
    border-radius: 2vw;
    outline: none;
    border: none;
    background-color: #FFA500;
    color: #fff;
    font-size: 1.2rem;

}


